@import './base.css';

#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-weight: normal;
}

main {
  margin: 0 25px;
}

header {
  height: 150px;
  display: flex;
  font-size: 40px;
  align-items: center;
  margin-bottom: 20px;
  background-image: linear-gradient(to right top, #efff40, #6dff8c, #00f1d6, #00d9ff, #4ebaff);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  img {
    margin-left: 20px;
  }

  span {
    color: black;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.text-error {
  color: red;
}

.home-view {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;

  .block {
    width: 100%;
  }
}

.mt-10 {
  margin-top: 10px;
}
