@import './base.css';

#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-weight: normal;
}

main {
  margin: 0 25px;
}

header {
  height: 150px;
  display: flex;
  font-size: 40px;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 25px;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(to right top, #efff40, #6dff8c, #00f1d6, #00d9ff, #4ebaff);

  span {
    color: #ffd900;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.text-error {
  color: red;
}

.home-view {
  gap: 30px;
  display: flex;
  justify-content: space-evenly;

  .block {
    width: 100%;
  }

  .users {
    gap: 20px;
    display: flex;
    flex-direction: column;

    .user {
      height: 60px;
      display: flex;
      font-size: 20px;
      border-radius: 5px;
      align-items: center;
      background-color: #59679d;
      justify-content: space-evenly;

      div:first-of-type {
        font-size: 45px;
      }
    }
  }
}

.mt-10 {
  margin-top: 10px;
}
